<div class="section mb-3">
    <div class="row mb-1">
        <div class="col-12">
            <span class="section-label">
                {% if showSectionLink == 'y' %}
                    <a class="section-link" href="{{ sectionUrl }}">{{ section.name }}</a>
                {% else %}
                    {{ section.name }}
                {% endif %}
                {% if section.status == 'Inactive' %}
                    (Inactive)
                {% endif %}
            </span>
        </div>
    </div>
    {% for item in items %}
        <div class="row item-row">
            <div class="col-1 text-right no-print">
                {% if showPriority == 'y' or (showPriority == 'above_normal' and item.priority < priorityNormal) %}
                    {{ item.priority }}
                {% else %}
                    &nbsp;
                {% endif %}
                <span class="align-top">
                    <input class="list-item" id="item-{{ item.id }}" type="checkbox" name="itemIds[]" value="{{ item.id }}"/>
                </span>
            </div>
            <div class="col-1 text-right print">
                {% if showPriority == 'y' or (showPriority == 'above_normal' and item.priority < priorityNormal) %}
                    {{ item.priority }}
                {% endif %}
            </div>
            <div class="col-1 text-right print">
                <span class="align-top checkboxes">
                    {% if item.status == 'Open' %}
                        &#x2610;
                    {% else %}
                        &#x2611;
                    {% endif %}
                </span>
            </div>
            <div class="col text-left">
                <label class="list-item-label" for="item-{{ item.id }}">
                    <span class="{% if item.status != 'Open' %} closed {% elseif item.priority <= priorityHigh %} high-priority {% endif %}">
                        {{ item.task }}
                    </span>
                </label>
            </div>
        </div>
    {% endfor %}
</div>
