<div class="print summary">
    <i>
    Items Done
        Today: {{ itemStats.doneToday }},
        Yesterday: {{ itemStats.doneYesterday }},
        This Week: {{ itemStats.doneThisWeek }},
        Last Week: {{ itemStats.doneLastWeek }},
        This Month: {{ itemStats.doneThisMonth }},
        Last Month: {{ itemStats.doneLastMonth }},
        Since Start: {{ itemStats.doneTotal }},
        Avg: {{ itemStats.average | number_format(1) }} days
    <br />
    <br />
    Items Shown: {GRAND_TOTAL}
    <br />
    Items Not Shown: {NOT_SHOWN}
    </i>
    <br />
    <div class="mt-4 chartContainer">
        <canvas id="tasksByWeek2" class="printChart"></canvas>
    </div>
</div>
