<div class="print summary">
    <i>
    Items Done
        Today: {{ itemStats.doneToday }},
        Yesterday: {{ itemStats.doneYesterday }},
        This Week: {{ itemStats.doneThisWeek }},
        Last Week: {{ itemStats.doneLastWeek }},
        This Month: {{ itemStats.doneThisMonth }},
        Last Month: {{ itemStats.doneLastMonth }},
        Since Start: {{ itemStats.doneTotal }},
        Avg: {{ itemStats.average | number_format(1) }} days
    <br />
    <br />
    Items Shown: {GRAND_TOTAL}
    <br />
    Items Not Shown: {NOT_SHOWN}
    </i>
    <br />
    <div class="mt-4" style="display: flex; align-items: center; justify-content: center;">
        <canvas id="tasksByWeek2" style="width: max-content; height: max-content;"></canvas>
    </div>
</div>
