{% extends 'base.html.twig' %}

{% set title = "To Do List For " ~ 'now' | date('F jS, Y') %}

{% block body %}
<script>
    var chartData = {{ chartData | json_encode() | raw }}
</script>
<div class="no-print">
    <div class="row mb-3">
        <div class="col-6 text-left">
            <b>To Do List For {{ user.fullname }}</b>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="true" aria-controls="collapseMenu">
                &#x2630;
            </button>
        </div>
    </div>
    <div class="row collapse show" id="collapseMenu">
        <div class="col-xs-12 col-lg-4 text-left">
            Items Done:<br />
            &nbsp;&nbsp;
            Today: <a href="show_done.php?view=today">{{ itemStats.doneToday }}</a>,
            Yesterday: <a href="show_done.php?view=yesterday">{{ itemStats.doneYesterday }}</a>
            <br />

            &nbsp;&nbsp;
            This Week: <a href="show_done.php?view=week">{{ itemStats.doneThisWeek }}</a>,
            Last Week: <a href="show_done.php?view=last-week">{{ itemStats.doneLastWeek }}</a>
            <br />

            &nbsp;&nbsp;
            This Month: <a href="show_done.php?view=month">{{ itemStats.doneThisMonth }}</a>,
            Last Month: <a href="show_done.php?view=last-month">{{ itemStats.doneLastMonth }}</a>
            <br />

            &nbsp;&nbsp;
            3 / 6 / 9 / 12 Months:
            <a href="show_done.php?view=month3">{{ itemStats.donePreviousMonths(3) }}</a> /
            <a href="show_done.php?view=month6">{{ itemStats.donePreviousMonths(6) }}</a> /
            <a href="show_done.php?view=month9">{{ itemStats.donePreviousMonths(9) }}</a> /
            <a href="show_done.php?view=month12">{{ itemStats.donePreviousMonths(12) }}</a>
            <br />

            Items Done Since Start: <a href="show_done.php">{{ itemStats.doneTotal }}</a>
            <br />

            Average Turnaround: {{ itemStats.average | number_format(1) }} days
        </div>
        <div class="col-xs-12 col-lg-4" style="display: flex; align-items: center; justify-content: center;">
            <canvas id="tasksByWeek" style="width: max-content; height: max-content;"></canvas>
        </div>
        <div class="col-xs-12 col-lg-4 text-right">
            Filter Closed Items:&nbsp;&nbsp;
            {% for value, label in filterClosedValues %}
                {% if config.filterClosed == value %}
                    {{ label }}
                {% else %}
                    <a href="index.php?filter_closed={{ value }}">{{ label }}</a>
                {% endif %}
            {% endfor %}
            <br />

            Filter Priority:&nbsp;&nbsp;
            {% for value, label in filterPriorityValues %}
                {% if config.filterPriority == value %}
                    {{ label }}
                {% else %}
                    <a href="index.php?filter_priority={{ value }}">{{ label }}</a>
                {% endif %}
            {% endfor %}
            <br />

            Show Priority:&nbsp;&nbsp;
            {% for value, label in showPriorityValues %}
                {% if config.showPriority == value %}
                    {{ label }}
                {% else %}
                    <a href="index.php?show_priority={{ value }}">{{ label }}</a>
                {% endif %}
            {% endfor %}
            <br />

            Filter Aging:&nbsp;&nbsp;
            {% for value, label in filterAgingValues %}
                {% if config.filterAging == value %}
                    {{ label }}
                {% else %}
                    <a href="index.php?filter_aging={{ value }}">{{ label }}</a>
                {% endif %}
            {% endfor %}
            days old
            <br />

            Show Inactive Sections:&nbsp;&nbsp;
            {% if config.showInactive == 'y' %}
                Yes <a href="index.php?show_inactive=n">No</a>
            {% else %}
                <a href="index.php?show_inactive=y">Yes</a> No
            {% endif %}
            <br />

            Display Settings: <a href="index.php?reset_display_settings=1">Reset</a>
        </div>
    </div>
    <hr />
</div>

<div class="print">
    <p align=center><b>{{ 'now' | date('F jS, Y') }}</b> - <b>{{ user.fullname }}</b></p>
</div>

<form method=POST>
    {{ list | raw }}

    <div class="no-print">
        <hr />
        <br />

        <div class="row">
            <div class="col-xs-12 col-lg-4 mb-2 text-left">
                {% if hasItems %}
                    <input type="submit" class="btn btn-secondary" name="submitButton" value="Edit" />
                    <input type="submit" class="btn btn-primary" name="submitButton" value="Mark Done" />
                    <input type="submit" class="btn btn-secondary" name="submitButton" value="Prioritize" />
                    {% if showDuplicate %}
                        <input type="submit" class="btn btn-secondary" name="submitButton" value="Duplicate" />
                    {% endif %}
                {% else %}
                    <button type="button" class="btn btn-secondary" disabled="disabled">Edit</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">Mark Done</button>
                    <button type="button" class="btn btn-secondary" disabled="disabled">Prioritize</button>
                {% endif %}
            </div>
            <div class="col-xs-12 col-lg-4 mb-2 text-center">
                <a href="/account.php" class="btn btn-secondary">My Account</a>
                <a href="/logout.php" class="btn btn-danger">Logout</a>
            </div>
            <div class="col-xs-12 col-lg-4 mb-2 text-right">
                {% if hasSections %}
                    <a href="/item_bulk_add.php" class="btn btn-primary">Bulk</a>
                    <a href="/item_edit.php?op=add" class="btn btn-secondary">Add New</a>
                {% else %}
                    <button type="button" class="btn btn-primary" disabled="disabled">Bulk</button>
                    <button type="button" class="btn btn-secondary" disabled="disabled">Add New</button>
                {% endif %}
                <a href="/section_edit.php" class="btn btn-secondary">Edit Sections</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
