{% extends 'base.html.twig' %}

{% set title = "Items Done - " ~ period %}

{% block body %}

<table width=100%>
    <tr>
        <td align=left>
            <b>{{ title }}</b>
        </td>
        <td align=right>
            <a href="show_done2.php?view={{ view }}">Alternate View</a> |
            <a href="index.php">Home</a>
        </td>
    </tr>
</table>

<hr />

<table>

{% set lastDate = '' %}

{% for item in items %}
    {% set thisDate = item.completed | date('F jS, Y') %}

    {% if lastDate != '' and thisDate != lastDate %}
        <tr>
            <td colspan=4>
                &nbsp;
            </td>
        </tr>
    {% endif %}

    <tr>
        <td valign=top align=right width=10%>
            {% if thisDate != lastDate %}
                <nobr>{{ thisDate }}</nobr>
            {% else %}
                &nbsp;
            {% endif %}
        </td>
        <td valign=top>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td valign=top align=left width=75%>
            {{ item.task }}
        </td>
        <td valign=top align=right>
            <nobr>({{ attribute(sections, item.sectionId) }})</nobr>
        </td>
    </tr>
    {% set lastDate = thisDate %}
{% endfor %}

</table>

{% endblock %}
